.dashboard-container {
    padding: 20px;
    background-color: #f5f5f5;
    text-align: center;
  }
  
  .dashboard-title {
    color: #7f0000; /* Dark red */
    text-align: left;
  }
  
  .sub-title {
    font-size: 1.2rem;
    color: #333;
  }
  
  .room-title {
    font-size: 1.5rem;
    color: #7f0000;
    text-align: left;
    margin-bottom: 20px;
  }
  
  .feedback-sections {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .table-container {
    border: 1px solid #7f0000;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }
  
  table {
    width: 100%;
  }
  
  th {
    font-size: 1.2rem;
    color: #7f0000;
    border-bottom: 1px solid #7f0000;
    padding-bottom: 10px;
  }
  
  td {
    font-size: 1rem;
    padding: 10px 5px;
    border-bottom: 1px solid #7f0000;
    text-align: center;
  }
  
  .room-checkbox {
    width: 20px;
    height: 20px;
  }
  
  .report-cell {
    height: 30px;
    border-bottom: 1px solid #7f0000;
  }
  
  /* Modal Styling */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  position: relative;
}

.modal-image {
  max-width: 100%;
  max-height: 500px;
  object-fit: contain;
}

.close-modal-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.report-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  cursor: pointer;
}

.table-scrollable {
  overflow-x: auto; /* Enables horizontal scrolling */
  margin-bottom: 15px; /* Adds spacing below the table */
  border: 2px solid #b80000; /* Matches the button's red color */
  border-radius: 1rem; /* Optional: Adds rounded corners */
}

.table-scrollable table {
  min-width: 100%; /* Ensures the table stretches horizontally */
}

.table-scrollable::-webkit-scrollbar {
  height: 10px; /* Sets the scrollbar height */
}

.table-scrollable::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounds the edges of the scrollbar */
}

.table-scrollable::-webkit-scrollbar-thumb:hover {
  background: #555; /* Changes color when hovered */
}

/* tables */
.reportTitle {
  color: #181818;
  font-weight: bold;
}

.reportTh {
  border:2px solid #8b0000 !important;
  color: rgb(255, 255, 255) !important;
  font-size: 0.8rem;
  padding: 0.5rem;
  background-color: #8b0000 !important;
}