.selectSectionContainer {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
}

.headerContainer {
    text-align: left; /* Align text to the left */
    padding-bottom: 20px;
}
  
.dashboardHeader {
    font-weight: bold;
    color: #800000; /* Dark red */
    margin-bottom: 10px;
}

.backIcon {
    font-size: 24px;
    cursor: pointer;
    color: #800000;
}

.selectSectionTitle {
    max-width: 400px;
    margin: 0;
    text-align: left; /* Align the select department to the left */
}

.selectSectionList {
    margin-top: 20px;
}

.list-group-item {
    border: 1px solid #800000;
    color: #800000;
}

.list-group-item.active {
    background-color: #800000;
    color: #ffffff;
    border-color: #800000;
}

.proceedButton {
    background-color: #800000;
    border-color: #800000;
}

.proceedButton:disabled {
    background-color: #ccc;
    border-color: #ccc;
}
