table, td {
    background-color: #ffffff9b;
}
th a{
    text-decoration: none;
}
 th {
    border: 100px solid rgb(96, 31, 31);
 }
 
.calendarContainer {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    background-color: #ffffff;
    width: 90%;
    max-width: 800px;
    height: 600px;
    margin: 0 auto;
    overflow: hidden;
}

.calendarWrapper {
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.headerContainer {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.proceedButton {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    padding-right: 1rem;
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 1;
}

